@using IMS.DAL.PrimaryDBContext;
@model AdminExpenseType;

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Edit Expense Type</h2>
    </div>
    <div class="card-body">
        <form asp-action="EditExpenseType">
            <input type="hidden" asp-for="ExpenseTypeId" />
            <div class="mb-3">
                <label asp-for="ExpenseTypeName" class="form-label"></label>
                <input asp-for="ExpenseTypeName" class="form-control" />
                <span asp-validation-for="ExpenseTypeName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ExpenseTypeDescription" class="form-label"></label>
                <input asp-for="ExpenseTypeDescription" type="text" class="form-control" placeholder="" />
                <span asp-validation-for="ExpenseTypeDescription" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check form-switch">

                <input class="form-check-input" type="checkbox" id="isEnableSwitch"
                       asp-for="IsEnabled" />

                @* <input asp-for="IsEnabled" class="form-check-input" /> *@
                <label asp-for="IsEnabled" class="form-check-label"></label>
                <span asp-validation-for="IsEnabled" class="text-danger"></span>
            </div>
            

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="GetAllExpenseTypes" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}