@model IMS.DAL.PrimaryDBContext.ProductRange

<div class="modal-header">
    <h5 class="modal-title">Add Size</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <form id="addSizeForm">
        <div class="mb-2">
            <label>Measuring Unit</label>
            <select name="MeasuringUnitIdFk" asp-items="ViewBag.MeasuringUnits" class="form-control">
                <option value="">-- Select Measuring Unit --</option>
            </select>
        </div>
        <div class="mb-2">
            <label>Size From</label>
            <input name="RangeFrom" class="form-control" required />
        </div>
        <div class="mb-2">
            <label>Size To</label>
            <input name="RangeTo" class="form-control" required />
        </div>
        <div class="mb-2">
            <label>Unit Price</label>
            <input name="UnitPrice" class="form-control" required />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="saveSizeBtn">Save</button>
        </div>
    </form>
</div>
