@using IMS.DAL.PrimaryDBContext
@model AdminCategory;

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Create Admin Category</h2>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="CategoryName" class="form-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OtherAdjustments" class="form-label"></label>
                <input asp-for="OtherAdjustments" class="form-control" placeholder="Must enter some desciption" />
                <span asp-validation-for="OtherAdjustments" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryDescription" class="form-label"></label>
                <input asp-for="CategoryDescription" class="form-control" placeholder="Must enter some desciption" />
                <span asp-validation-for="CategoryDescription" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check form-switch">
                <input type="checkbox" asp-for="IsEnabled" class="form-check-input" />
                <label asp-for="IsEnabled" class="form-check-label" class="form-control"></label>
                <span asp-validation-for="IsEnabled" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}